* {
  margin: 0;
  padding: 0;
 
  
  
  scroll-behavior: smooth;
}


#dark {
  background-color: #1C1917;
}
  


#light {
  background-color: #DDDFE5;
}



.App {
  width: 100%;
  margin-inline: auto;
}
.switch {
  display: flex;
  justify-content: flex-end;
  
  width: 100%;
  padding-top: 30px;
  right: 20%;
  position: fixed;
}

.switch i {
  
  padding: 3px 4px;
  
  border: 2px solid #FDBA74;
  background-color: #FDBA74;
  color: black;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

#light .switch i {
  border: 2px solid #C4B5FD;
  background-color: #C4B5FD;
  font-size: 15px;
  padding: 3px 5px;
  color: black;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;

  width: 40%;
  margin-inline: auto;

  padding-top: 80px;
  padding-bottom: 24px;
}

.Header h1 {
  font-size: 72px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
  margin-bottom: 10px;
  text-align: center;

  animation: slide ease 0.4s;
}


@keyframes slide {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0%);
  }
}

.Header h3 {
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  opacity: .5;
  margin-bottom: 10px;
  text-align: center;

  animation: slide ease 0.4s;
}

#light .Header H3 {
  color: black;
  opacity: .5;
}

.Header p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;

  margin-bottom: 10px;
  animation: slide ease 0.4s;
}

#light .Header p {
  color: black;
}

#canvas canvas {
  width: 40%;
  height: 300px;

  animation: fallDown 3s;
}

@keyframes fallDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.portfolio-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  
  margin-inline: auto;
  
  margin-top: 50px;
 

  animation: fadeIn ease 0.6s;
}

.portfolio-sect a {
  width: 20%;
  text-decoration: none;
  margin-right: 20px;
}

.portfolio {
  
  width: 100%;
  max-height: 500px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  border-radius: 10px;
  border: 2px solid whitesmoke;
  cursor: pointer;
}




#light .portfolio {
  border: 2px solid black;
}

.portfolio-img {
  width: 100%;
  
}

.portfolio-img img {
  width: 100%;
  max-height: 227px;
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.portfolio-tags {
  display: flex;
  flex-direction: column;
  
 
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.portfolio-tags h3 {
  font-family: 'Inter', sans-serif;
  color: white;
  
  font-weight: bolder;
  font-size: 20px;
  margin: 0;
  width: 90%;
  padding-top: 10px;
  margin-bottom: 18px;
}

#light .portfolio-tags h3 {
  color: black;
}

.portfolio-tags p {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  color: white;
  margin: 0;
  margin-bottom: 15px;
  width: 100%;
  
}

#light .portfolio-tags p {
  color: black;
}

.portfolio-tags span {
  padding: 5px;
  font-weight: bold;
  border: 2px solid white;
  margin-right: 10px;
  border-radius: 5px;
  
}

#light .portfolio-tags span {
  border: 2px solid black;
}

.button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 40%;
  margin-inline: auto;
  margin-top: 80px;

  animation: fadeIn ease 0.4s;
}

.button button {
  width: 15%;
  padding: 10px;
  

  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

#light .button button {
  border: 2px solid black;
  color: black;
}

.button button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#light .button button:hover {
  background-color: black;
  color: white;
}

.timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  
  margin-top: 80px;
  margin-inline: auto;
  
  
  animation: fadeIn ease-in-out 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.timeline-title {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  margin: 0;
}

.timeline-title h1 {
  font-size: 24px;
  border-bottom: 3px solid white;
  width: 100%;
  
  
  margin: 0;
  padding-bottom: 3px;
  color: white;
  font-family: 'Inter', sans-serif;
}

#light .timeline-title h1 {
  border-bottom: 3px solid black;
  color: black;
}

.timeline-props {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 50px;
}


.timeline-sect {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 100%;
  
  margin-bottom: 20px;
}

.timeline-sect span {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;

  border: 2px solid transparent;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

#light .timeline-sect span {
  background-color: black;
  color: white;
}

.timeline-sect h3 {
  
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 20px;
  margin-right: auto;
  
}

#light .timeline-sect h3 {
  color: black;
}

.timeline-sect p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 14px;
  opacity: .5;
}

#light .timeline-sect p {
  color: black;
}

.timeline-props p {
  font-family: 'Inter', sans-serif;
  text-align: justify;
  color: white;
  margin: 0;
}

#light .timeline-props p {
  color: black;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 
  
  margin-left: 0;
  margin-right: 0;
}

.skills-sect {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0;
  margin-top: 25px;
}

.skills-props {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.skills-props img {
  width: 94px;
  height: 94px;

  margin: 0;
  margin-right: 10px;
}

.skills-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  

  margin: 0;
}

.skills-text p {
  color: white;
  margin: 0;
}

#light .skills-text p {
  color: black;
}

.skills-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 100%;
  margin: 0;
 
}

.skills-title h2 {
  font-family: 'Inter', sans-serif;
  color: white;
  

  font-size: 20px;
  margin: 0;
}

#light .skills-title h2 {
  color: black;
}

.skills-title span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
  font-size: 14px;
  opacity: .5;
  font-family: 'Inter', sans-serif;
  color: white;

  margin: 0;
}

#light  .skills-title span {
  color: black;
}

.skills-sect p {
  width: 100%;
  margin-top: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  text-align: justify;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  width: 40%;
  margin-top: 80px;
  
  margin-inline: auto;
}

 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.contact input {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-top: 20px;
  outline: none;

  width: 90%;
  background-color: #1C1917;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: white;
}

#light .contact input {
  border: 2px solid black;
  background-color: #DDDFE5;
  color: black;
}

.contact textarea {
  margin: 0;
  margin-top: 20px;
  outline: none;

  width: 90%;
  max-width: 90%;
  height: 260px;
  background-color: #1C1917;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  color: white;
}

#light .contact textarea {
  background-color: #DDDFE5;
  border: 2px solid black;
  color: black;
}

.contact-button {
  display: flex;
  justify-self: flex-start;
  width: 93%;
  margin-bottom: 80px;
}

.contact-button button {
  margin: 0;
  margin-top: 20px;
  font-weight: 500;
  width: 20%;
  cursor: pointer;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 14px;
  
  
  color: white;
  font-size: 16px;
  
  
  border: unset;
  border-radius: 5px;
  background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}

#light .contact-button button {
  color: black;
}

.footer {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

  width: 50%;
  margin-inline: auto;

  padding-bottom: 20px;
}

.footer p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
  margin-top: 15px;
  font-size: 14px;
  opacity: .5;
  font-family: 'Inter', sans-serif;
}

#light .footer p {
  color: black;
}

.footer-social  {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.footer-social a {
  text-decoration: none;
}

.footer-social i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: white;
  padding: 6px;
}

#light .footer-social i {
  color: black;
}

@media screen and (max-width: 1700px) {

  .Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
  
    width: 80%;
    margin-inline: auto;
  
    padding-top: 80px;
    padding-bottom: 24px;
  }

  .portfolio-sect {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }

  .portfolio-sect a {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
  }

  .timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    margin-top: 80px;
    margin-inline: auto;
    
    
    animation: fadeIn ease-in-out 0.5s;
  }

  .timeline-props {
    max-width: 600px;
  }

  .button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    margin-inline: auto;
    margin-top: 80px;
  
    animation: fadeIn ease 0.4s;
  }

  .button button {
    width: 15%;
    min-width: 94px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    width: 40%;
    margin-top: 80px;
    
    margin-inline: auto;
  }

  form {
    min-width: 638px;
  }

  .contact-button {
    width: 93%;
    margin-inline: 0;
    padding: 0;
  }

  .contact-button button {
    width: 30%;
    margin-top: 20px;
    max-width: 125px;
  }
  
}

@media screen and (max-width: 768px) {
  .Header {
    padding-top: 80px;
    width: 90%;
    padding-bottom: 24px;
  }

  .Header h1 {
    font-size: 45px;
  }

  .Header h3 {
    font-size: 15px;
  }

  .Header p {
    font-size: 14px;
  }

  .portfolio-sect {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }

  .portfolio-sect a {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-inline: auto;
    
  }

  .portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    width: 85%;
    margin-bottom: 20px;
    margin-left: 0;
    min-width: 304px;
  }

  .portfolio-tags {
    padding-right: 10px;
  }

  .button {
    width: 100%;
  }

  .button button {
    width: 30%;
    max-width: 92px;
  }

  .timeline {
    width: 100%;
  }

  .timeline-props {
   margin-bottom: 20px;
   min-width: 300px;
  }

  .timeline-props p {
    font-size: 14px;
  }

  .timeline-sect p {
    font-size: 12px;
  }

  .timeline-sect span {
    font-size: 12px;
  }

  .timeline-sect h3 {
    font-size: 17px;
  }

  .skills-sect {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
  }

  .skills-sect img {
    width: 65px;
    height: 65px;
  }

  .skills-sect h2 {
    font-size: 19px;
  }
  
  .skills-sect p {
    font-size: 14px;
    text-align: start;
  }

  .contact {
    width: 100%;
  }

  .contact input {
    width: 80%;
  }

  .contact textarea {
    width: 80%;
    max-width: 80%;
  }


  .contact-button {
    width: 83%;
    margin-inline: 0;
    
  }

  .contact-button button {
    width: 40%;
    min-width: 123px;
  }

  form {
    min-width: 320px;
  }

  .footer {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  
    width: 100%;
    margin-inline: auto;
  
    padding-bottom: 20px;
  }

  .footer p {
    width: 100%;
  }

  .switch {
    left: 15%;
    width: 80%;
    right: 0%;
  }

}

